<!-- [] means a dynamic property binding & disable the html attribute  -->
<!-- ! reverts what occurs/opposite of what logic is in .ts  -->
<!-- () indicates event binding, calls the method created in .ts -->

<label>Server Name</label>
<!-- $event is a reserved variable name you can use in the template when using event binding
$event will be the data emitted with the event, here, it is "onCreateServer" -->
<!-- <input type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->

<!-- 2-way data binding combines property and event binding
[()] property binding w/ event binding
[(ngModel)] is a directive  -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- This shows the status of allowNewServer (true vs. false) -->
<!-- This is called string interpolation -->
<!-- <p>{{allowNewServer}}</p> -->

<!-- This is the property binding version of the string interpolation -->
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- <p>{{serverCreationStatus}}</p> -->

<!-- This is an example of a Structural Directive  -->
<!-- <p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p> -->

<!-- You can also use ! on the method being called to denote the opposite of *ngIf
<p *ngIf="!serverCreated; else noServer">Server was created, server name is {{serverName}}</p> -->

<!-- *ngIf w/ else statement -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>

<!-- Local reference marked with #, ng-template is a COmponent Directive used to mark places in the DOM -->
<ng-template #noServer>
    <p>No Server was created!</p>
</ng-template>

<!-- <app-server></app-server> -->
<!-- <app-server></app-server> -->
<!-- Instead of using app-server X2, using ngFor, temporary variable defined with 'let' -->
<app-server *ngFor="let server of servers"></app-server>

<br>
<!-- Simpler to just call the inverse of the buttonPressed variable instead of this below
<button class="btn btn-primary" (click)="onButtonPressed()">Display Details</button> -->
<!-- <p *ngIf="buttonPressed; else noPassword">Secret password = Tuna</p>
<ng-template #noPassword>
    <p></p>
</ng-template> -->

<!-- Simpler Method, but needs to be able to track the # of times pressed -->
<!-- <button class="btn btn-primary" (click)="buttonPressed = !buttonPressed">Display Details</button> -->

<button class="btn btn-primary" (click)="onButtonPressed()">Display Details</button>
<p *ngIf="buttonPressed">Secret password = Tuna</p>

<!-- Our array name is listOfButtonClicks, so let varName of arrayList -->
<!-- It is better to show the individual buttonClicks than the current arrayList each time -->
<!-- <p *ngFor="let buttonClick of listOfButtonClicks">{{listOfButtonClicks}}</p> -->

<p *ngFor="let buttonClick of listOfButtonClicks"
    [ngStyle]="{backgroundColor: buttonClick >= 5 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text': buttonClick >= 5}">
    {{buttonClick}}</p>

    <!-- It is hard to see the text like this, so will add CSS elements in .css -->