<!-- [] means a dynamic property binding & disable the html attribute  -->
<!-- ! reverts what occurs/opposite of what logic is in .ts  -->
<!-- () indicates event binding, calls the method created in .ts -->

<label>Server Name</label>
<!-- $event is a reserved variable name you can use in the template when using event binding
$event will be the data emitted with the event, here, it is "onCreateServer" -->
<!-- <input type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->

<!-- 2-way data binding combines property and event binding
[()] property binding w/ event binding
[(ngModel)] is a directive  -->
<input type="text"
class="form-control"
[(ngModel)]="serverName">
<p>{{serverName}}</p>
<button class="btn btn-primary"
[disabled] = "!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- This shows the status of allowNewServer (true vs. false) -->
<!-- This is called string interpolation -->
<!-- <p>{{allowNewServer}}</p> -->

<!-- This is the property binding version of the string interpolation -->
<!-- <p [innerText]="allowNewServer"></p> -->

<p>{{serverCreationStatus}}</p>

<app-server></app-server>
<app-server></app-server>